<div style="margin-right: 20px;margin-left: 20px;">
  <table width="100%" height="100%">
  
      <tr>
          <th class="first1"></th>
          <th id="myDIV" class="second1" colspan="3"></th>
          <th class="third1"></th>
      </tr>
       <tr>
              <th id="myDIV1" class="first2"></th>
              <th class="scnd"></th>
              <th class="second2" colspan="2"><p class="about">Need to know About Us?</p><p class="des1">We are here for you.</p>
                  
             </th>
              <th class="third2"></th>
      </tr>
      <tr>
          <th class="first3"></th>
          <th class="second3">
              <mat-card class="example-card" style="width:280px;height: 260px;margin-right: 10px;margin-left: 10px;">
                  <mat-card-header>
                    <mat-card-title>We Are</mat-card-title>
                    
                  </mat-card-header>
                 <mat-card-content>
                  <p class="desc">
                      In a web development team, the position is known as a project manager, who's in control of all the processes throughout the entire project. Their work tasks include: Communication with a customer. Scheduling the project and providing time estimates.
                    </p>
                  </mat-card-content>
                </mat-card>
                
  
  
          </th>
        <th class="third3">
          <mat-card class="example-card" style="width:280px;height: 260px;margin-right: 10px;margin-left: 10px;">
              <mat-card-header>
                <mat-card-title>What We Do</mat-card-title>
                
              </mat-card-header>
             <mat-card-content>
              <p class="desc">
                  We’ve already talked about various web app types and their architecture. Considering this diversity, it’s obvious that each web project should be addressed individually from the very first development stages on.
                </p>
              </mat-card-content>
            </mat-card>
  
  
        </th>       
         <th class="ft"></th>
            <th id="myDIV2" class="ff"></th>
      </tr> 
  </table>
  </div>
  