.image{
    height:48em; width:auto;
    background-image:url('D:/angular/webApp1/src/assets/img/3.jpg');
    background-position:100% 100%;
    font-family: 'Times New Roman', Times, serif;
    
  }

  

  