
<table width="100%" height="100%" class="first5" >

    <tr>
        <th class="first1" width="30px" height="450px"  style="background-color:rgb(255, 255, 255);">
        </th>
        <th class="firs2"><br><br>Improve <br><br><br> your <br><br><br> SKILLS
          <br><br><br> <br><br><br><button type="button" style="width: 120px;font-family: Arial, Helvetica, sans-serif;" class="btn btn-dark">Sign Up & Code</button> <br><br><br> 
      
      </th>
      <th id="myDIV">
    </th>
    
    
    </tr>
    
    <tr>
    <th class="firs4" height="200px" colspan="5"></th>
     
    </tr>
  </table>
